[submodule "cpp-taskflow"]
	path = module/cpp-taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
[submodule "eagle2bookshelf"]
	path = module/eagle2bookshelf
	url = https://github.com/djmerrill/eagle2bookshelf.git
[submodule "module/KicadParser"]
	path = module/KicadParser
	url = https://github.com/The-OpenROAD-Project/KicadParser.git
