[submodule "module/KicadParser"]
	path = module/KicadParser
	url = https://github.com/The-OpenROAD-Project/KicadParser.git
[submodule "module/--force"]
	path = module/--force
	url = https://github.com/The-OpenROAD-Project/KicadParser.git
